// Place all the styles related to the Clocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Indie Flower', cursive;
}

#clock {
  height: 300px;
  width: 100%;
  margin: auto;
  position: absolute;
  font-family: 'Indie Flower', cursive;
  color: #f1c40f;
  text-align: center;
  font-size: 100px;
  background-color: #80d4ea;
}